@{
    ViewBag.Title = "Menú Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menú Principal</h2>

<ul class="nav nav-pills nav-stacked">
    <li><a href="/Empleado/Index">Gestión de Empleados</a></li>
    <li><a href="/Participante/Index">Gestión de Participantes</a></li>
</ul>