@model IEnumerable<CapaEntidades.Empleado>

@{
    ViewBag.Title = "Lista de Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Empleados</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empleado in Model)
        {
            <tr>
                <td>@empleado.IdEmpleado</td>
                <td>@empleado.Nombres</td>
                <td>
                    <a href="/Empleado/Eliminar/@empleado.IdEmpleado" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>